body {
    background: rgb(223,140,150);
    background: linear-gradient(90deg, rgba(223,140,150,1) 0%, rgba(208,140,223,1) 59%, rgba(234,0,255,1) 100%);
}

h1{
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 1px #df8c96;
}

.navbar {
    font-size: 40px;
    text-shadow: 2px 1px #df8c96;
    font-weight: 600;
    text-align: center;
    color:whitesmoke;
    border: solid 2px gainsboro;
    border-radius:  4px;
    background-color: slateblue;
}

.container {
    border: solid 2px gainsboro;
    margin-top: 100PX;
    height: 520px;
    width: 410px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: slateblue ;
}

.login input {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 45px;
    border: solid whitesmoke;
}

.input-text {
    width: 345px;
    height: 42px;
    border-radius: 8px;
    font-size: 22px;
}
 
.button-login button {
    background-color: whitesmoke;
    border: solid whitesmoke;
    color: slateblue;
    border-radius: 8px;
    font-weight: 800;
    font-size: 18px;
    text-shadow: 1px 2px #df8c96;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 35px;
    width: 120px;
    height: 40px;
    cursor: pointer;
}
.buttonhov:hover {
    background-color: #df8c96;
    border-color: #df8c96;
    transition: 0.5s;
    color: whitesmoke;
    text-shadow: 1px 2px slateblue;
}

.link-regis a {
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    color: whitesmoke;
    text-shadow: 2px 1px #df8c96;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
 
a:hover {
    color: #df8c96;
    transition: 0.5s;
    text-shadow: 2px 1px whitesmoke;
}

